<main id="mainDiario">

    <section id="sectionDiario">
        {{#if registrosEmpresa }}

        {{#each registrosEmpresa}}
        <article class="articleDiario">
            <div class="camposArticleDiarioConta">
                <p><strong>Conta: </strong>{{dataValues.conta}}</p>
            </div>
            <div class="camposArticleDiarioDeb">
                <p><strong>Débito: </strong>{{dataValues.debito}}</p>
            </div>
            <div class="camposArticleDiarioCre">
                <p><strong>Crédito: </strong>{{dataValues.credito}}</p>
            </div>
            <div class="camposArticleDiarioHist">
                <p><strong>Histórico: </strong>{{dataValues.historico}} </p>
            </div>
            <div class="camposArticleDiarioDt">
                <p><strong>Data de criação: </strong> {{createdAt}}</p>
            </div>
        </article>
        {{/each}}

        {{else}}

        <article style="align-items: center;" class="articleDiario">
            <div id="diarioSemLancamento">
                <h1>Não possui lançamentos ainda!</h1>
                <h2>Gostaria de fazer um? </h2>
                <a class="homeButton" href="/lancamento">Ir para lançamento</a>
            </div>
        </article>

        {{/if}}

    </section>


</main>

<script type="module" src="/ESCRIPTS/diario.js"></script>