<main id="mainHome">
    <section id="sectionHome">
        <p id="campoUsuarioNome">Olá, {{empresa.name}}!</p>
        <p>Seu email: {{empresa.email}}</p>
        <p>Seu CPF: {{empresa.cnpj}}</p>
        <p>Seu Id: {{empresa.Id}}</p>
        <p>Criado em: {{empresa.createdAt}}</p>
    </section>

    <aside id="asideHome">

    </aside>
</main>

<script type="module" src="/ESCRIPTS/home.js"></script>