<main id="mainIndex">
    <section id="sectionIndex">
        <p id="campoUsuarioNome">Olá, {{user.name}}!</p>
        <p>Seu email: {{user.email}}</p>
        <p>Seu CPF: {{user.cpf}}</p>
        <p>Seu Id: {{user.Id}}</p>
        <p>Criado em: {{user.createdAt}}</p>
    </section>

    <aside id="asideindex">
        
    </aside>
</main>

<script type="module" src="/ESCRIPTS/home.js"></script>
